/* Full background */
.full-bg {
    background-image: url("รูป/หน้าเว็ป.jfif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Itim', cursive;
    color: white;
}

/* Hero */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 2px 2px 8px black;
}

.btn-ticket {
    margin-top: 15px;
    padding: 12px 25px;
    background: #ff0000;
    border-radius: 12px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.d, .c {
    display: block;       /* ต้องเป็น block */
    width: fit-content;   /* กรอบพอดีกับข้อความ */
    margin: 15px auto;    /* เว้นด้านบน 15px, จัดกลางอัตโนมัติ */
    text-align: center;
    background: rgb(255, 7, 7); /* .c เปลี่ยนสีตามต้องการ */
    border-radius: 12px;
    font-weight: bold;
    padding: 12px 25px;
}



/* Attractions */
.attractions {
    background: rgba(255,255,255,0.9);
    border-radius: 15px;
    margin: 30px 15px;
    padding: 30px 15px;
    color: black;
}

.attractions h2 {
    color: #d30c0c;
}

.card {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
    background: white;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-info {
    padding: 15px;
}

.btn-read-more {
    display: inline-block;
    padding: 8px 15px;
    background: #d30c0c;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 10px;
}

/* Footer */
.footer {
    background: rgba(255, 0, 0, 0.7);
    color: white;
    border-radius: 15px;
}

.footer .social-links a {
    margin: 0 5px;
}

.cardd img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* ให้ภาพเต็มการ์ดโดยไม่ยืดผิดสัดส่วน */
    border-radius: 15px; /* ถ้าต้องการมุมโค้ง */

}
@media (max-width: 600px) {
    .hero h1 {
        font-size: 1.6rem;
        line-height: 2.2rem;
    }

    .d, .c {
        padding: 10px 20px;
        font-size: 1rem;
    }

    .navbar-brand {
        font-size: 1.1rem;
    }
}
